{% extends "base.html" %}

{% block content %}
    <div class="container about">
    
        <div class="jumbotron well-1">
            <h2>Rouizi Yacine</h2>
            <p>je suis développeur python full-stack autodidacte, j'ai appris presque tout sur openclassrooms.</p>
            <p>
                j'utilise le langage python ainsi que d'autres languages tels que le javascript et le HTML5 pour
                créer des sites web fonctionnels.
            </p> 
            <p>
                Retrouvez moi sur les réseaux sociaux.
            </p>
        </div>

    </div>
{% endblock %}