{% extends "base.html" %}

{% block content %}
  <div class="container">
  
    <div class="alert alert-info jumbotron" role="alert" style="border: 2px solid #c2dbe7">
      <h2 >Besoin d'une adresse ? GrandPy Bot est là pour vous ! </h2>
    </div>

    <!-- Section -->
    <section class="row">

      <div class="col-sm-6 col-lg-offset-1 alert alert-info papy">
        <div class="row">
          <img src="{{ url_for('static', filename='img/robot.png') }}" alt="robot" class="hidden-xs pull-left img-discussion"/>
          <p class="col-sm-10">Bonjour mon enfant. Je suis GrandPy bot, le papi robot ! Où désires-tu aller ?</p>
        </div>
      </div>

      <div class="col-xs-10 col-lg-offset-3 contentMap" >
        <div id="map"></div>
      </div>
      <div class="col-xs-10 col-lg-offset-3 contentHistory alert-info papy">
          <div class="row history"></div>
      </div>
      
    </section>

    <!-- Form -->
    <form class="well col-sm-10" action="/index" method="post" role="form">
      <!--I don't use CSRF (Cross-Site Request Forgery) to protect web forms against a nasty attack because it's a small application -->
      <legend>Tapez une adresse, un lieu ...</legend>
      <input class="form-control" id="content" type="text" placeholder="Ex: Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?" required>
      <button class="btn btn-primary submit" type="button">Rechercher </button>
      <button data-toggle="modal" href="#infos" class="btn btn-primary pull-right" type="button">Informations</button>
      <div class="modal fade" id="infos">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">GrandPy n'entend plus très bien !</h4>
            </div>
            <div class="modal-body">
              <p>Papi robot est avant tout un robot, qui se contente d'extraire les données necessaires pour trouver un lieu.
                Saisir une phrase telle que : "je veux aller à la mairie du 10e, à Paris" aboutira certainement.</br>
                Vous pouvez même saisir un lieu comme: "oû se trouve la tour eiffel papy ?".
              </p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-info" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
  </div>
{% endblock %}
